/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Start Top left side and menubar */
.container{
    margin: 0 7% 0 7%;
    display: grid;
    grid-template-columns: repeat(1, 1fr)
}
.top{
    margin: 1% 0 1%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
    font-size: 16px;
    
}
/* End Top left side and menubar */

/* Start Banner */
.banner {
    height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-detail{
    width: 60%;
    padding-right: 30px;
    height: 450px;
}
.banner-detail h1{
    margin:0px 195px 20px 0 ;
    font-size: 3em;
}
.banner-detail p{
    margin: 0px 340px 20px 0 ;
}
.banner-detail a{
    text-decoration: none;
    background-color: rgb(236, 5, 132);
    padding: 6px 20px;
    border-radius: 30px;
    color: white;
}
.banner-photo{
    width: 40%;
    height: 477px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
/* End Banner */

/* Start company */
.company{
    padding: 5% 7%;
}
hr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #818181, #ffffff);
  
}
.company-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End Company */

/* Start Product Info */
.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-title h1{
    margin: 0 0 50px 0;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 0 80px;
}
.product{
    height: 430px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
}
.fa-star, .fa-star-half-alt{
    color: rgb(250, 212, 0);
}
.rating-number{
    padding-left: 10px;
}
.item{
    margin: 0 0 10px 0;
}
.product-see-more{
    margin-top: 30px;
    padding-left: 940px;
}
.product-see-more a{
    text-decoration: none;
    color: rgb(236, 5, 132);
    padding: 6px 20px;
    border-radius: 30px;
    
}


/* End Product Info */


.blogs{
    margin: 7% 7% 7% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogs img{
    border-radius: 14px;
}
.blog-detail{
    padding: 0 40px 0 133px;
}

.blog-detail a{
    text-decoration: none;
    background-color: rgb(236, 5, 132);
    padding: 6px 20px;
    border-radius: 30px;
    color: white;
}
footer{
    height: 28git0px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1 1fr;
    align-items: center;
    justify-items: center;
}
.footer-item{
    display: grid;
    grid-template-columns: 1 1fr;
    align-items: center;
    justify-items: center;
}
footer a{
    text-decoration: none;
    font-size: 36px;
    padding-right: 10px;
    color: white;

}